<a href="https://colab.research.google.com/github/hochschule-pforzheim/project-st23-team-f23/blob/main/AI%26ML_Project_Hotel_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variablen Definition

hotel: H1 = Resort Hotel or H2 = City Hotel

is_canceled: storniert = 1, nicht storniert = 0

lead time: Anzahl Tage zwischen Eingabe Buchung im PMS (property management system) und Anreise

arrival_date_year: Jahr der Anreise

arrival_date_month: Monat der Anreise

arrival_date_day: Tag der Anreise

stays_in_weekend_nights: Anzahl der gebuchten Übernachtungen am WE (Samstag, Sonntag)

stays_in_week_nights: Anzahl der gebuchten Übernachtungen in der Woche (Montag bis Freitag)

adults; babies; children: Anzahl der gebuchten Erwachsenen; Kleinkindern; Kindern

meal: Art der gebuchten Mahlzeit -> BB= Bed & Breakfast; HB = Half board (Frühstück und eine andere Mahlzeit); FB = Full board (Frühstück, Mittag und Abendessen

country: Herkunftsland des Buchenden nach [ISO 3155–3:2013 Format ](https://www.iso.org/obp/ui/#search/code/)

market_segment: Marktsegemnt Bezeichnung -> TA = Travel Agent; TO = Tour Operators

distribution_channel: Distributionskanal der Buchung -> TA = Travel Agent; TO = Tour Operators

is_repeated_guest: Wert welcher anzeigt ob der Name des Gasts bereits bei einer vorherigen Buchung auftaucht -> 1 = Widerholung; 0 = Erstbuchung

previous_cancellations: Anzahl der vergangnen Buchungen, welche storniert wurden

previous_bookings_not_canceled: Anzahl der Buchungen eines Kunden, welche nicht storniert wurden

reserved_room_type: Code für das reservierte Zimmer. Der Code ist hier aus Anonymitätsgründen gewählt

assigned_room_type: Code für das Zimmer, welches bei der Buchung zugewiesen wurde

booking_changes: Anzahl der Buchungen, welche zwischen Eintrag ins PMS und check-in Zeitpunkt (oder Stornierung) geändert wurden

deposit_types: Angabe ob der Kunde eine Kaution hinterlegt hat -> No Deposit; Non Refund = es wurde eine Kaution hinterlegt, welche die gesamten Kosten des Aufenthaltes decken; Refundable = eine Kaution wurde hinterlegt, welche nicht die gesamten Kosten des Aufenthaltes abdeckt

agent: ID der Reiseagentur worüber die Buchung vorgenommen wurde

company: ID des Unternehmens, welches verantwortlich für die Buchung ist

days_in_waiting_list: Anzahl der Tage bis die Buchung bestätigt wurde

customer_type: Typ der Buchung -> Contract = die Buchung hat einen Vertrag damit verbunden; Group = die Buchung kann einer Gruppe zugeordnet werden; Transient = die Buchung ist keiner Gruppe oder Vertrag zugeordnet und auch nicht zu anderen kurzzeitigen Buchungen; Transient-party = die Buchung ist kurzfristig, aber einer anderen kurzzeitigen Buchung zuzuordnen

adr: Average Daily Rate -> Summe aller Beherbergungsgeschäfte geteilt durch die totale Anzahl an Übernachtungen

required_car_parking_spaces: Anzahl der benötigten Parkplätze von einem Kunden

total_of_special_requests: Anzahl der besonderen Wünsche durch einen Kunden (bsp. Doppelbett)

reservation_status: letzter Reservierungsstatus -> canceled = Buchung wurde von Kunden storniert; Check-out = Kunde ist eingecheckt, aber bereits wieder abgereist; No-Show = Kunde ist nicht eingecheckt und hat das Hotel nicht informiert

reservation_status_date: Datum an dem der letzte Status gesetzt wurde. Variable kann in Verbindung mit dem reservation status genutz werden, um zu verstehen wann die Buchung storniert wurde oder wann ein Kunde ausgecheckt hat

In [ ]:
import pandas as pd

In [ ]:
hotel_orig = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-11/hotels.csv', parse_dates=['reservation_status_date'])

In [ ]:
hotel_orig

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
hotel_orig.dtypes

hotel                                     object
is_canceled                                int64
lead_time                                  int64
arrival_date_year                          int64
arrival_date_month                        object
arrival_date_week_number                   int64
arrival_date_day_of_month                  int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date           datetime64[ns]
dtype: object

In [ ]:
hotel_orig.mean()

<ipython-input-5-ce7c10406fc7>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  hotel_orig.mean()
<ipython-input-5-ce7c10406fc7>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  hotel_orig.mean()

is_canceled                          0.370416
lead_time                          104.011416
arrival_date_year                 2016.156554
arrival_date_week_number            27.165173
arrival_date_day_of_month           15.798241
stays_in_weekend_nights              0.927599
stays_in_week_nights                 2.500302
adults                               1.856403
children                             0.103890
babies                               0.007949
is_repeated_guest                    0.031912
previous_cancellations               0.087118
previous_bookings_not_canceled       0.137097
booking_changes                      0.221124
agent                               86.693382
company                            189.266735
days_in_waiting_list                 2.321149
adr                                101.831122
required_car_parking_spaces          0.062518
total_of_special_requests            0.571363
dtype: float64

In [ ]:
hotel_orig.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
(hotel_orig.isna().sum()/len(hotel_orig)).apply('{0:.4%}'.format)
# children & country könnten wir rausschmeißen
#

hotel                              0.0000%
is_canceled                        0.0000%
lead_time                          0.0000%
arrival_date_year                  0.0000%
arrival_date_month                 0.0000%
arrival_date_week_number           0.0000%
arrival_date_day_of_month          0.0000%
stays_in_weekend_nights            0.0000%
stays_in_week_nights               0.0000%
adults                             0.0000%
children                           0.0034%
babies                             0.0000%
meal                               0.0000%
country                            0.4087%
market_segment                     0.0000%
distribution_channel               0.0000%
is_repeated_guest                  0.0000%
previous_cancellations             0.0000%
previous_bookings_not_canceled     0.0000%
reserved_room_type                 0.0000%
assigned_room_type                 0.0000%
booking_changes                    0.0000%
deposit_type                       0.0000%
agent                             13.6862%
company                           94.3069%
days_in_waiting_list               0.0000%
customer_type                      0.0000%
adr                                0.0000%
required_car_parking_spaces        0.0000%
total_of_special_requests          0.0000%
reservation_status                 0.0000%
reservation_status_date            0.0000%
dtype: object

In [ ]:
hotel_orig.nunique()

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             5
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              333
company                            352
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

In [ ]:
hotel_orig.country.value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: country, Length: 177, dtype: int64

In [ ]:
hotel_orig.company.value_counts()

40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
104.0      1
531.0      1
160.0      1
413.0      1
386.0      1
Name: company, Length: 352, dtype: int64

In [ ]:
hotel_orig.adr.value_counts()

62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
89.43        1
63.07        1
55.69        1
49.51        1
157.71       1
Name: adr, Length: 8879, dtype: int64

In [ ]:
hotel_orig.market_segment.value_counts()

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64